<div class="gb ut">
  <div class="uv">
    <%= form_for @message, url: contact_path, html: { class: 'alq dj j' } do |message_form| %>

      <%= render 'layouts/flash_errors', object: @message %>

      <div class="l amb">
        <%= image_tag('login.png', alt: "brand") %>
      </div>

      <div class="et">
        <%= message_form.text_field :name, placeholder: "Name", class: 'form-control' %>
      </div>

      <div class="et">
        <%= message_form.email_field :email, placeholder: "Email", class: 'form-control' %>
      </div>

      <div class="et alu">
        <%= message_form.text_area :content, placeholder: "Message", class: 'form-control' %>
      </div>

      <div class="amb">
        <button class="cg fp">Send</button>
      </div>
    <% end %>
  </div>
</div>
