<div class="container p-t-md">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'm-x-auto text-center app-login-form' }) do |f| %>

      <%= devise_error_messages! %>

      <div class="app-brand m-b-lg">
        <%= image_tag('login.png', alt: "brand") %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email Address", autofocus: true, autocomplete: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: 'form-control' %>
      </div>

      <div class="m-b-lg">
        <button class="btn btn-primary fw">Register</button>

  <!--       <div class="panel panel-default m-b-md" style="margin-top: 20px;">
          <div class="panel-body">
            <p>Signing up signifies that you have read and agree to the <a href="/policy/tos">Terms of Service</a> and <a href="/policy/privacy">Privacy Policy</a>.</p>
          </div>
        </div> -->
      </div>

      <footer class="screen-login">
        <%= link_to "Login", login_path, class: "text-muted" %> |
        <%= link_to "Canʹt log in?", new_password_path(resource_name), class: "text-muted" %>
      </footer>
    <% end %>
  </div>
</div>
