<div class="gb ut">
  <div class="uv">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'alq dj j' }) do |f| %>

      <%= render 'layouts/errors' %>

      <a href="/" class="l amb">
        <%= image_tag('login.png', alt: "brand") %>
      </a>

      <div class="et">
        <%= f.email_field :email, placeholder: "Email Address", autofocus: true, autocomplete: false, class: 'form-control' %>
      </div>

      <div class="et alu">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'form-control' %>
      </div>

      <div class="amb">
        <button class="cg fp">Log In</button>
      </div>

      <footer class="apd">
        <%= link_to "Create Account", new_user_registration_path, class: "dp" %> |
        <%= link_to "Canʹt log in?", new_password_path(resource_name), class: "dp" %>
      </footer>
    <% end %>
  </div>
</div>
